# Copy this file to keystore.properties and fill in your release keystore details.
# DO NOT commit keystore.properties to version control.
storeFile=release.keystore
storePassword=
keyAlias=
keyPassword=
